extends layout

block main
    section.desk
        h1= `${error.message} - Status: ${error.status}`
        a.button-primary-small(href='/') Go Home
        img.desk-items(src='/static/img/desk.svg')

    